/* NavBar */
body{
    overflow-x: hidden;
    letter-spacing: 0.8px;
}
.navbar{
    /* color: #fff; */
    /* background-color: #022069; */
    /* border-bottom:2px solid #022069; */
    background-color: #ffff;
    color: #022069;
    width: 100vw;
    padding: 10px;
    /* height: 1vh; */
}
.flex{
    display: flex;
    gap: 40px;
   
    height: 8vh;
align-items: center;
    width: 90vw;
   
}
.flex a{
    font-weight: 500;
}
.login_btn{
  width: 250px;
    gap: 20px;
    opacity: 1;
    display: flex;
}
.btn{
    width: 350px;
    text-align: center;
}
.login{
    background-color: transparent;
    border: 2px solid #022069;
    border-radius:20px;
    padding: 5px 10px;
    height: 45px;
   
}
.sign{
    background-color: #022069;
    /* border: 2px solid #022069; */
    color: #ffff;

    border-radius:20px;
    padding: 5px 10px;
    height: 45px;
}
.sign:hover{
    background-color: #051b54;
}




/* Bannner */
.banner{
    background-color: #022069;
    height: 60vh;
    padding: 110px;
    color: #ffff;
}
.text_box {
    letter-spacing: 1px;
  
    width: 27vw;
}
.text_box h1{
    line-height: 50px;
    margin-bottom: 20px;
    font-size: 50px;
}


/* Connect  */

.text{
    display: flex;
    /* flex: 1; */
    width: 100%;
   
    margin-left: 6%;
    flex-direction: column;
}
.text p:nth-child(2){
    color:#0070ba;
    font-weight: bold;
    margin-top: 10px;
}
.connect_box{
    margin: 50px;
  display: flex !important;
  flex-direction: column !important;
    width: 55vw;
    align-items: center;
    justify-content: center;
    height: 70vh;
    
}
.connect_row{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.connect_row h1{
    margin-top: 50px;
    margin-left: -180px;
}
/* footer.css */

/* Styles for small footer */
.small-footer-container {
    display: none; /* Initially hidden */
  }
  

  @media (max-width: 786px) {
 
    .footer-container{
    
        display: none;
    }
    .link1{
        margin-top: 40px;
        width: 80vw !important;
    }
    .link1 a{
        font-size: 15px !important;
        text-align: center;
        color: #ffff !important;
    }
    
    .small-footer-container {
        display: block;
        text-align: center;
        bottom: 0;
        position: absolute;
        background-color: #051b54;
        color: #ffff;
        padding: 26px 20px;
        text-align: center;
        top: 304%;
        height: 75vh;
        width: 100vw;
    }
  }
  